@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #d387ab;
  background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
  /* 
    Both colors are nice:
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%); */
  color: #444;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: #31020a;
  font-family: "Sansita Swashed", cursive;
  font-size: 10rem;
  text-align: center;
  opacity: 0.7;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  background-color: #e899dc;
  background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #31020a;
  opacity: 0.6;
}

.todos {
  background-color: #e899dc;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e899dc;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #f94e6b;
  text-decoration: line-through;
}

small {
  color: #31020a;
  margin-top: 3rem;
  text-align: center;
}
